body {
    background-image: url("./images/MicrosoftTeams-image\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./images/Rectangle\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    height: 30rem;
    width: 25rem;
    margin: 60px auto;
}

.loginTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: white;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    /* border-radius: 10px; */
    border-bottom: 1px solid #d4af37;
    background-color: transparent;
    transition: border-color 0.2s;
}

.loginInput:focus {
    border-bottom-color: #eee0b2;
    outline: none;

}

.loginButton {
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
    background-color: #d4af37;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 10rem;

}

.loginButton:hover {
    color: #888;
    background-color: white;
    opacity: 0.7;
    transition: 2s;
}

.inputWithIcon:focus {
    border: 1px solid;
    color: #eee;
}

.inputWithIcon input::placeholder {
    color: white;
}

.loginInput {
    color: white;
    padding-left: 30px;
}

.inputIcon {
    position: relative;
    top: 5%;
    left: -12rem;
    transform: translate(-50%);
    color: #888;
    pointer-events: none;

}

.white {
    color: white;

}

.error-message {
    color: orange;
}