.abu-reserve-parent {
    background-image: linear-gradient(to right bottom, rgba(54, 48, 30, 0.699), #77777788), url("../../../imagesfolder/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100vh;
    max-width: 100vw;
}
.abu-reservation {
    font-size:30px;
    margin-bottom: 20px;
    color: #ccc;
}
.abu-loading {
    font-size: 25px;
}

.abu-div-input {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.abu-search-bar {
    padding: 10px;
    align-items: center;
    background-color: #d4af37;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.abu-search-bar:hover {
    background-color: #efece3;
}

.abu-search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.abubakar.active {
    display: none;
}

.abu-error-msg {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 10px;
}

.abu-tabularForm {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.abu-tabular-head th{
background-color: #d4af37;
color: black;

}
.abu-tabular-head th:hover {
background-color: #efece3;
} 

th,
td {
    padding: 13px 6px;
    text-align: center;
    border: 1px solid #ccc;

}

.abu-button {
    background-color: #f2e9cd;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Modal Styles */
/* .abu-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
.abu-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .abu-modal-content button {
    margin-top: 10px;
    background-color: #f2e9cd;
    margin-left: 10px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

/* Pagination Styles */
.abu-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #ccc;
    font-weight: bolder;
}

.abu-pagination button {
    margin: 0 15px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #d4af37;
    transition: background-color 0.2s;
}

.abu-pagination button:hover {
    background-color: #efece3;
}

thead th {
    background-color: #efece3;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fff1cb;
    transition: background-color 0.2s;
}

tr:nth-child(even):hover {
    background-color: #f5f5f5;
}
tr:nth-child(odd) {
    background-color: #f5f5f5;
    transition: background-color 0.2s;
}
tr:nth-child(odd):hover{
    background-color: #fef4d9;
}
@media screen and (max-width: 1274px) {

    th,
    td {
        display: flex;
        flex-direction: column;
        padding: 12px 6px;
        font-size: 20px;
    }

    .abu-reservation {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {

    th,
    td {
        display: flex;
        flex-direction: column;
        padding: 10px 6px;
        font-size: 14px;
    }

    .abu-reservation {
        font-size: 20px;
    }

    .abu-search-bar {
        flex-direction: column;
    }

    .abu-search-input {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {

    th,
    td {
        padding: 8px 4px;
        font-size: 12px;
    }

    .abu-reservation {
        font-size: 18px;
    }
}